html,
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    user-select: none;
}
:global(.flex-row){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
:global(.tohome){
    color: #333;
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: #64AEF0;
        color: white;
    }
}
:global(.case){
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #aaa;
    padding-left: 30px;
}