.root{
    width: 400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #aaa;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 160px);
    overflow: hidden;
    .text{
        padding: 5px;
        text-indent: 2em;
        font-size: 14px;
        text-align: left;
    }
    .btn{
        float: right;
    }
}