.root{
    display: inline-block;
    height: 30px;
    background-color: white;
    border: 1px solid #aaa;
    padding: 0 4px 0 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 0px 1px #aaa, 0 3px 2px 0px #aaa; 
    .label{
        display: inline-block;
        line-height: 30px;
        text-align: center;
        height: 30px;
        vertical-align: middle;
    }
    .btn{
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        background-origin: content-box;
        box-sizing: content-box;
        background-size: 100% 100%;
        padding-left: 4px;
        margin-left: 5px;
        border-left: 1px solid #aaa;
        background-repeat: no-repeat;
        cursor: pointer;
        &:global(.delete){
            background-image: url('assets/images/add.png');
            transform: rotate(45deg);
        }
        &:global(.add){
            background-image: url('assets/images/add.png');
        }
    }
}